.header-settings-button {
  color: rgb(var(--color-header-text));
  cursor: pointer;
  display: inline-block;
  font-size: 1.75rem;
  opacity: 0.6;
  padding: 1rem;
  text-align: center;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.header-settings-button:hover {
  opacity: 0.8;
}

.header-settings-button.small {
  transform: scale(0.8);
}

/* Transitions */
.header-settings-button-enter-active,
.header-settings-button-leave-active {
  transition: all 0.15s;
}
.header-settings-button-enter,
.header-settings-button-leave-active {
  opacity: 0;
}
.header-settings-button-enter {
  transform: translateX(10px);
}
.header-settings-button-leave-active {
  transform: translateX(-10px);
}