.theme-input input {
  display: none;
}

.theme-input label {
  border-radius: 3px;
  border: 2px solid #46546b;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 25px;
  line-height: 1.4;
  margin-right: 0.5rem;
  padding-left: 2px;
  padding-top: 2px;
  width: 25px;
}

.theme-input label.theme-default {
  background-color: #edf1f5;
  color: #2e3c48;
}

.theme-input label.theme-dark {
  background-color: #11161d;
  color: #a0b1c5;
}

.theme-input label.theme-contrast {
  background-color: #ffffff;
  color: #000000;
}